silver_platter.egg-info/*
__pycache__
*~
.eggs/
silver_platter.dist-info
*_pb2.py
.mypy_cache
dist
.coverage
target
silver_platter/_*.so
build
py/silver_platter.egg-info/
py/silver_platter/_svp_rs.*.so
