[package]
name = "silver-platter"
version = "0.5.15"
authors = [ "Jelmer Vernooij <jelmer@jelmer.uk>",]
edition = "2021"
license = "GPL-2.0+"
description = "Large scale VCS change management"
repository = "https://github.com/jelmer/silver-platter.git"
homepage = "https://github.com/jelmer/silver-platter"
default-run = "svp"

[dependencies]
tempfile = "3.6.0"
serde_yaml = "0.9.22"
log = "0.4"
percent-encoding = "2.3.0"
chrono = "0.4.30"
regex = "1.9.5"
debian-changelog = { workspace = true }
tera.workspace = true
clap = { version = "4.4.6", features = ["derive", "env"] }
shlex = "1.2.0"
env_logger = "0.10.0"
trivialdb = { version = "0.1.4", optional = true }
flate2 = { version = "1", optional = true }
reqwest = { version = "0.11", optional = true, features = ["blocking"] }
lazy-regex = "3.0.2"
libc = "0.2"
xdg = "2.5"
debian-analyzer = { version = ">=0.1.148", optional = true }

[workspace]
members = [ "crates/*",]

[features]
default = [ "debian", "detect-update-changelog" ]
debian = [ "dep:debversion", "dep:flate2", "dep:reqwest" ]
last-attempt-db = [ "dep:trivialdb" ]
detect-update-changelog = [ "dep:debian-analyzer" ]

[dev-dependencies]
pyo3 = { workspace = true, features = ["auto-initialize",] }

[dependencies.pyo3]
workspace = true
features = [ "chrono",]

[dependencies.serde]
workspace = true
features = [ "derive",]

[dependencies.serde_json]
workspace = true

[dependencies.breezyshim]
workspace = true

[dependencies.debversion]
version = ">=0.1"
optional = true

[dependencies.url]
workspace = true
features = [ "serde",]

[workspace.dependencies]
pyo3 = ">=0.19"
pyo3-log = "0.8"
serde_json = "1"
tera = "1"
serde = "1.0.171"
breezyshim = "0.1.34"
url = "2.4.0"
debian-changelog = "0.1.10"

[[bin]]
name = "svp"

