[package]
name = "silver-platter"
version = "0.5.11"
authors = [ "Jelmer Vernooij <jelmer@jelmer.uk>",]
edition = "2021"
license = "GPL-2.0+"
description = "Large scale VCS change management"
repository = "https://github.com/jelmer/silver-platter.git"
homepage = "https://github.com/jelmer/silver-platter"

[dependencies]
tempfile = "3.6.0"
serde_yaml = "0.9.22"
log = "0.4"
percent-encoding = "2.3.0"

[workspace]
members = [ "crates/*",]

[features]
default = []
debian = [ "dep:debversion",]

[dependencies.pyo3]
workspace = true

[dependencies.serde]
workspace = true
features = [ "derive",]

[dependencies.serde_json]
workspace = true

[dependencies.tera]
workspace = true

[dependencies.breezyshim]
workspace = true

[dependencies.debversion]
version = ">=0.1"
optional = true

[dependencies.url]
workspace = true
features = [ "serde",]

[workspace.dependencies]
pyo3 = "0.19"
pyo3-log = "0.8"
pyo3-file = "0.7"
serde_json = "1"
tera = "1"
serde = "1.0.171"
breezyshim = "0.1.22"
url = "2.4.0"
