name: Rust

on:
  push:
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
      fail-fast: false

    steps:
      - uses: actions/checkout@v5
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: rustfmt
      - name: Install dependencies
        run: |
          sudo apt -y update
          sudo apt -y install devscripts libapt-pkg-dev libtdb-dev libssl-dev pkg-config libgpgme-dev
          cargo install cargo-all-features
      - name: Upgrade pip
        run: python -m pip install --upgrade pip setuptools_rust setuptools
      - name: Install breezy
        run: python -m pip install --upgrade breezy
      - name: Build
        run: cargo build --verbose
        env:
          RUSTFLAGS: -Dwarnings
      - name: Run tests
        run: cargo test-all-features
        env:
          RUSTFLAGS: -Dwarnings
      - name: Check formatting
        run: cargo fmt -- --check
